:host{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
th{
    text-align: center;
}
td{
    padding:10px;
}

label{
    margin: 15px auto;
}
input, button, select{
    width: 100px;
    align-self: center;
}

.red{
    color: red;
}